header {
    background-image: url(https://image.freepik.com/free-vector/cute-bird-pattern_1124-115.jpg);
    text-align: center;
    border: 3px solid #4D1900;
    padding: 3em;
    margin: 1em;
    width: 636.625;
    height: 100%;
    overflow: unset;

}

h1 {
    color: #4D1900;
    font-size: 50px;
    font-weight: bold;

}
#sumStatement {
    color: #4D1900;
    font-style: italic;
    font-size:25px;
    font-weight: bold;
}

body {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4D1900;
}
#info {
    padding: 1em;
    margin: 1em;
    width: 636.625;
    height: 100%;
    border: 3px  #4D1900;
    background-color: antiquewhite

}

footer {
    border: 3px solid #4D1900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(https://image.freepik.com/free-vector/cute-bird-pattern_1124-115.jpg);

}